<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>EnableC6</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>APSN</key>
				<false/>
				<key>PluginType</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>APLF</key>
				<false/>
				<key>CStates</key>
				<false/>
			</dict>
			<key>DropOem</key>
			<false/>
			<key>EnableC7</key>
			<false/>
		</dict>
		<key>#DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>MCFG</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>xh_rvp10</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>CpuPm</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>Cpu0Cst</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>Cpu0Ist</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>ApCst</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>ApIst</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
		</array>
		<key>#SortedOrder</key>
		<array>
			<string>SSDT.aml</string>
			<string>SSDT-0.aml</string>
			<string>SSDT-1.aml</string>
			<string>SSDT-2.aml</string>
			<string>SSDT-3.aml</string>
			<string>SSDT-4.aml</string>
			<string>SSDT-5.aml</string>
			<string>SSDT-6.aml</string>
			<string>SSDT-7.aml</string>
			<string>SSDT-8.aml</string>
			<string>SSDT-9.aml</string>
			<string>SSDT-10.aml</string>
			<string>SSDT-11.aml</string>
			<string>SSDT-12.aml</string>
			<string>SSDT-13.aml</string>
			<string>SSDT-14.aml</string>
			<string>SSDT-15.aml</string>
			<string>SSDT-16.aml</string>
			<string>SSDT-17.aml</string>
			<string>SSDT-18.aml</string>
			<string>SSDT-19.aml</string>
			<string>SSDT-XOSI.aml</string>
			<string>SSDT-LPC.aml</string>
			<string>SSDT-UIAC.aml</string>
			<string>SSDT-PNLF.aml</string>
		</array>
		<key>#Comment-SortedOrder</key>
		<string>SortedOrder required if you have patched SSDTs in ACPI/patched</string>
		<key>PatchAPIC</key>
		<false/>
		<key>FixHeaders</key>
		<false/>
		<key>FixMCFG</key>
		<false/>
		<key>AutoMerge</key>
		<false/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>UE5MRg==</data>
					<key>Replace</key>
					<data>WE5MRg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>PNLF renamed XNLF</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R1BSVwI=</data>
					<key>Replace</key>
					<data>WFBSVwI=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>GPRW to XPRW</string>
				</dict>
			</array>
			<key>SlpSmiAtWake</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>FixHPET</key>
				<false/>
				<key>FixHDA</key>
				<false/>
				<key>FixRTC</key>
				<false/>
				<key>FixTMR</key>
				<false/>
				<key>FixSATA</key>
				<false/>
				<key>FixShutdown</key>
				<false/>
				<key>FixIPIC</key>
				<false/>
				<key>#Comment-IRQ Fix</key>
				<string>The following fixes may be needed for onboard audio/USB/etc</string>
				<key>FixRegions</key>
				<false/>
			</dict>
		</dict>
		<key>HaltEnabler</key>
		<false/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>NoEarlyProgress</key>
		<false/>
		<key>Legacy</key>
		<string>LegacyBiosDefault</string>
		<key>NeverHibernate</key>
		<true/>
		<key>CustomLogo</key>
		<false/>
		<key>HibernationFixup</key>
		<false/>
		<key>Arguments</key>
		<string>brcmfx-country=#a alcid=15 brcmfx-aspm</string>
		<key>Secure</key>
		<false/>
		<key>XMPDetection</key>
		<string>Yes</string>
		<key>Log</key>
		<false/>
		<key>Timeout</key>
		<integer>3</integer>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Theme</key>
		<string>Catalina</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>#ScreenResolution</key>
		<string>1920x1080</string>
		<key>Hide</key>
		<array>
			<string>Recovery</string>
		</array>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<true/>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
		</dict>
		<key>ProvideConsoleGop</key>
		<true/>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>EFILoginHiDPI</key>
		<integer>2</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>SetIntelBacklight</key>
		<false/>
		<key>ForceHPET</key>
		<false/>
		<key>LANInjection</key>
		<false/>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<true/>
			<key>AFGLowPowerState</key>
			<false/>
			<key>Inject</key>
			<string>No</string>
		</dict>
		<key>SetIntelMaxBacklight</key>
		<false/>
		<key>UseIntelHDMI</key>
		<false/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1D,0x7)/Pci(0x0,0x0)</key>
			<dict>
				<key>device_type</key>
				<string>Media controller</string>
				<key>subsystem-vendor-id</key>
				<data>axAAAA==</data>
				<key>model</key>
				<string>O2 Micro SD card reader</string>
				<key>name</key>
				<string>SD/MMC Card Reader</string>
				<key>AAPL,slot-name</key>
				<string>Built-in</string>
				<key>compatible</key>
				<string>pci14e4,16bc</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,20,3</string>
				<key>device_type</key>
				<string>Network controller</string>
				<key>model</key>
				<string>Wireless-AC 9560</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>framebuffer-con2-enable</key>
				<data>AQAAAA==</data>
				<key>AAPL,slot-name</key>
				<string>Internal@0,2,0</string>
				<key>framebuffer-con2-busid</key>
				<data>AgAAAA==</data>
				<key>framebuffer-con2-has-lspcon</key>
				<data>AQAAAA==</data>
				<key>AAPL,ig-platform-id</key>
				<data>BQCmPg==</data>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>device-id</key>
				<data>pj4AAA==</data>
				<key>framebuffer-con2-type</key>
				<data>AAgAAA==</data>
				<key>enable-lspcon-support</key>
				<data>AQAAAA==</data>
				<key>enable-backlight-registers-fix</key>
				<data>AQAAAA==</data>
			</dict>
		</dict>
		<key>HDMIInjection</key>
		<false/>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<false/>
			<key>AddClockID</key>
			<false/>
			<key>Inject</key>
			<false/>
			<key>HighCurrent</key>
			<false/>
		</dict>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>LoadVBios</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<false/>
		<key>KernelPm</key>
		<false/>
		<key>KernelLapic</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>D4KnAwAA</data>
				<key>Comment</key>
				<string>DVMT for AppleIntelCFLGraphicsFramebuffer﻿ (Credits DalianSky) for 10.15.x</string>
				<key>Disabled</key>
				<true/>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleIntelCFLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>D4IAAAAA</data>
				<key>MatchOS</key>
				<string>10.15,10.15.1,10.15.2,10.15.3</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>D4KPAwAA</data>
				<key>Comment</key>
				<string>DVMT for AppleIntelCFLGraphicsFramebuffer﻿ (Credits DalianSky) for 10.15.x</string>
				<key>Disabled</key>
				<true/>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleIntelCFLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>D4IAAAAA</data>
				<key>MatchOS</key>
				<string>10.15.4</string>
			</dict>
		</array>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>AppleIntelCPUPM</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>MLB</key>
		<string>C02052501CD0000FB</string>
		<key>ROM</key>
		<data>IOvkTbKn</data>
		<key>BooterConfig</key>
		<string>0x28</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xFDAFF066</string>
		<key>Board-ID</key>
		<string>Mac-5F9802EFE386AA28</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFFFFFF7F</string>
		<key>BoardVersion</key>
		<string>MacBookPro16,2</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x9</string>
		<key>BiosVersion</key>
		<string>MBP162.88Z.F000.B00.2101062056</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>Asset Tag#</string>
		<key>PlatformFeature</key>
		<string>0x32</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02052501CD0000FB</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>MacBookPro16,2</string>
		<key>SmUUID</key>
		<string>F500760C-7820-4101-887B-0C1DD1B4B62B</string>
		<key>Mobile</key>
		<true/>
		<key>BoardType</key>
		<integer>10</integer>
		<key>EfiVersion</key>
		<string>1554.80.3.0.0</string>
		<key>SerialNumber</key>
		<string>C02D507ZML7H</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>01/06/2021</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>#BacklightLevel</key>
		<integer>0</integer>
		<key>CustomUUID</key>
		<string>F500760C-7820-4101-887B-0C1DD1B4B62B</string>
		<key>InjectSystemID</key>
		<true/>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>SetupVirtualMap</key>
		<true/>
		<key>RebuildAppleMemoryMap</key>
		<false/>
		<key>EnableSafeModeSlide</key>
		<true/>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>ProvideCustomSlide</key>
		<true/>
		<key>DisableLinkeditJettison</key>
		<true/>
		<key>EnableWriteUnprotector</key>
		<true/>
	</dict>
	<key>#Comment</key>
	<string>This file is for 10.12.6+ with native KabyLake support</string>
</dict>
</plist>